include ./../mixins/index

block offer
    include ./content/offer
block features
    include ./content/features
block benefits 
    include ./content/benefits
block skills 
    include ./content/skills
block work 
    include ./content/work
block facts 
    include ./content/facts
block question 
    include ./content/question
block team-members 
    include ./content/team-members
block reviews  
    include ./content/reviews
block sponsors  
    include ./content/sponsors
block price
    include ./content/price
block price
    include ./content/unique
block social 
    include ./content/social
block map 
    include ./content/map