include ./../mixins/top-icon
include ./../mixins/index

+b.footer.FOOTER 
    +topIcon("&#x42;")
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.footer-wrapper 
            +e.text.P Copyright © 2014 Startuprr, All Rights Reserved.