
<section class="benefits"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="benefits-block">
      <div class="benefits-block__column"> 
        <div class="benefits-card"> 
          <div class="benefits-card__icon-section"> 
            <div class="benefits-card__icon-wrapper-top"><span class="benefits-card__icon">&#xe00e;</span>
            </div>
            <div class="benefits-card__icon-wrapper-bottom">
            </div>
          </div>
          <div class="benefits-card__text-section"> 
            <h2 class="benefits-card__title title">responsive &amp; multipurpose
            </h2>
            <p class="benefits-card__subtitle subtitle">Desktops, Tablets &amp; Phones
            </p>
            <p class="benefits-card__text text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-block__column"> 
        <div class="benefits-card"> 
          <div class="benefits-card__icon-section"> 
            <div class="benefits-card__icon-wrapper-top"><span class="benefits-card__icon">&#xe0f9;</span>
            </div>
            <div class="benefits-card__icon-wrapper-bottom">
            </div>
          </div>
          <div class="benefits-card__text-section"> 
            <h2 class="benefits-card__title title">easy customization
            </h2>
            <p class="benefits-card__subtitle subtitle">One Click Demo Content Installation
            </p>
            <p class="benefits-card__text text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-block__column"> 
        <div class="benefits-card"> 
          <div class="benefits-card__icon-section"> 
            <div class="benefits-card__icon-wrapper-top"><span class="benefits-card__icon">&#xe033;</span>
            </div>
            <div class="benefits-card__icon-wrapper-bottom">
            </div>
          </div>
          <div class="benefits-card__text-section"> 
            <h2 class="benefits-card__title title">unlimited features
            </h2>
            <p class="benefits-card__subtitle subtitle">Shortcodes, Typography &amp; Different Layouts
            </p>
            <p class="benefits-card__text text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-block__column"> 
        <div class="benefits-card"> 
          <div class="benefits-card__icon-section"> 
            <div class="benefits-card__icon-wrapper-top"><span class="benefits-card__icon">&#x62;</span>
            </div>
            <div class="benefits-card__icon-wrapper-bottom">
            </div>
          </div>
          <div class="benefits-card__text-section"> 
            <h2 class="benefits-card__title title">clean &amp; modular coding
            </h2>
            <p class="benefits-card__subtitle subtitle">100% Clean, Valid &amp; Well-Commented Coding
            </p>
            <p class="benefits-card__text text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-block__column"> 
        <div class="benefits-card"> 
          <div class="benefits-card__icon-section"> 
            <div class="benefits-card__icon-wrapper-top"><span class="benefits-card__icon">&#xe015;</span>
            </div>
            <div class="benefits-card__icon-wrapper-bottom">
            </div>
          </div>
          <div class="benefits-card__text-section"> 
            <h2 class="benefits-card__title title">the best e-commerce solutions
            </h2>
            <p class="benefits-card__subtitle subtitle">WooCommerce Fully Integration
            </p>
            <p class="benefits-card__text text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-block__column"> 
        <div class="benefits-card"> 
          <div class="benefits-card__icon-section"> 
            <div class="benefits-card__icon-wrapper-top"><span class="benefits-card__icon">&#xe028;</span>
            </div>
            <div class="benefits-card__icon-wrapper-bottom">
            </div>
          </div>
          <div class="benefits-card__text-section"> 
            <h2 class="benefits-card__title title">awesome friendly support
            </h2>
            <p class="benefits-card__subtitle subtitle">Free Lifetime Support &amp; Updates
            </p>
            <p class="benefits-card__text text">Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>