
<section class="intro">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="intro-card"> 
      <div class="intro-card__question h3">what are you waiting for ?
      </div>
      <h1 class="intro-card__title">let’s be creative !
      </h1>
      <div class="intro-card__block"> 
        <p class="intro-card__company-text"> <span class="text"><span class="first-letter">S</span>tartuprr, </span>  next generation &amp; highly flexible wordpress theme
        </p>
      </div>
      <div class="category-wrapper">
        <div class="site-category site-category--intro">
          <div class="site-category__top">
            <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
            </div>
            <p class="site-category__name"> <span class="first-word">start</span>  doing that
            </p>
            <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
            </div>
          </div>
        </div>
      </div><a class="scroll-btn" href="#">&#x3b;</a>
    </div>
  </div>
</section>