
<section class="map"> 
  <div class="map-wrapper" id="map">
  </div>
  <form class="message-form js-form" data-method="POST" data-action="https://httpbin.org/post"><input class="message-form__name message-input" type="text" placeholder="Name" data-rule="required|name"/><input class="message-form__email message-input" type="email" name="name" placeholder="Email Address" data-rule="required"/><textarea class="message-form__textarea" placeholder="Message..." name="textarea"></textarea><input class="message-form__submit btn" type="submit" name="submit" value="submit message"/>
  </form>
</section>