
<section class="price"> 
  <div class="team g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="category-wrapper">
      <div class="site-category site-category--alter">
        <div class="site-category__top">
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
          </div>
          <p class="site-category__name">real cheap <span class="first-word">prices</span>
          </p>
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
          </div>
        </div>
        <div class="site-category__bottom"> 
          <p class="site-category__text text text--category">We offer all our services in real low prices in comparison with similar companies
          </p>
        </div>
      </div>
    </div>
    <div class="price-list"> 
      <div class="price-list__column"> 
        <div class="price-card"> 
          <div class="price-card__top"> 
            <div class="price-card__price"> <span class="price-card__currency">$</span><span class="price-card__dollar">19</span>
              <div class="price-card__cent-block"> <span class="price-card__cents">99</span><span class="price-card__dots"> </span>
              </div><span class="price-card__time">Monthly</span>
            </div><a class="price-card__plan-title btn" href="#">standard plan</a>
          </div>
          <div class="price-card__middle"> 
            <ul class="price-card__includes"> 
              <li class="price-card__includes-item">5 Projects
              </li>
              <li class="price-card__includes-item">5 GB Storage
              </li>
              <li class="price-card__includes-item">Unlimited Users
              </li>
              <li class="price-card__includes-item">10 GB Bandwith
              </li>
              <li class="price-card__includes-item">Enhanced Security
              </li>
            </ul>
          </div>
          <div class="price-card__bottom"> <a class="price-card__button btn" href="#">sign up now</a>
          </div>
        </div>
      </div>
      <div class="price-list__column"> 
        <div class="price-card"> 
          <div class="price-card__top"> 
            <div class="price-card__price"> <span class="price-card__currency">$</span><span class="price-card__dollar">29</span>
              <div class="price-card__cent-block"> <span class="price-card__cents">99</span><span class="price-card__dots"> </span>
              </div><span class="price-card__time">Monthly</span>
            </div><a class="price-card__plan-title btn" href="#">premium plan</a>
          </div>
          <div class="price-card__middle"> 
            <ul class="price-card__includes"> 
              <li class="price-card__includes-item">10 Projects
              </li>
              <li class="price-card__includes-item">15 GB Storage
              </li>
              <li class="price-card__includes-item">Unlimited Users
              </li>
              <li class="price-card__includes-item">20 GB Bandwith
              </li>
              <li class="price-card__includes-item">Enhanced Security
              </li>
            </ul>
          </div>
          <div class="price-card__bottom"> <a class="price-card__button btn" href="#">sign up now</a>
          </div>
        </div>
      </div>
      <div class="price-list__column"> 
        <div class="price-card"> 
          <div class="price-card__top"> 
            <div class="price-card__price"> <span class="price-card__currency">$</span><span class="price-card__dollar">49</span>
              <div class="price-card__cent-block"> <span class="price-card__cents">99</span><span class="price-card__dots"> </span>
              </div><span class="price-card__time">Monthly</span>
            </div><a class="price-card__plan-title btn" href="#">advanced plan</a>
          </div>
          <div class="price-card__middle"> 
            <ul class="price-card__includes"> 
              <li class="price-card__includes-item">15 Projects
              </li>
              <li class="price-card__includes-item">30 GB Storage
              </li>
              <li class="price-card__includes-item">Unlimited Users
              </li>
              <li class="price-card__includes-item">50 GB Bandwith
              </li>
              <li class="price-card__includes-item">Enhanced Security
              </li>
            </ul>
          </div>
          <div class="price-card__bottom"> <a class="price-card__button btn" href="#">sign up now</a>
          </div>
        </div>
      </div>
      <div class="price-list__column"> 
        <div class="price-card"> 
          <div class="price-card__top"> 
            <div class="price-card__price"> <span class="price-card__currency">$</span><span class="price-card__dollar">99</span>
              <div class="price-card__cent-block"> <span class="price-card__cents">99</span><span class="price-card__dots"> </span>
              </div><span class="price-card__time">Monthly</span>
            </div><a class="price-card__plan-title btn" href="#">ultimate plan</a>
          </div>
          <div class="price-card__middle"> 
            <ul class="price-card__includes"> 
              <li class="price-card__includes-item">Unlimited Projects
              </li>
              <li class="price-card__includes-item">Unlimited GB Storage
              </li>
              <li class="price-card__includes-item">Unlimited Users
              </li>
              <li class="price-card__includes-item">Unlimited GB Bandwith
              </li>
              <li class="price-card__includes-item">Enhanced Security
              </li>
            </ul>
          </div>
          <div class="price-card__bottom"> <a class="price-card__button btn" href="#">sign up now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>