
<section class="question"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="question-wrapper"> 
      <h2 class="question-wrapper__title title">are you satisfied with unlimited features that we offer?
      </h2>
      <div class="question-wrapper__buttons"> <a class="question-wrapper__button btn" href="#">purchase it now</a><a class="question-wrapper__button btn" href="#">contact us now</a>
      </div>
    </div>
  </div>
</section>