
<section class="reviews"> 
  <div class="top-icon top-icon--dark"><span class="top-icon__icon">&#x7b;</span>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="reviews-wrapper"> 
      <div class="reviews-slider"> 
        <div class="reviews-slider__column"> 
          <div class="reviews-slide"><a class="reviews-slide__top-button btn" href="#">alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span></a>
            <div class="reviews-slide__text-wrapper">
              <p class="reviews-slide__text"><span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-slider__column"> 
          <div class="reviews-slide"><a class="reviews-slide__top-button btn" href="#">alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span></a>
            <div class="reviews-slide__text-wrapper">
              <p class="reviews-slide__text"><span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-slider__column"> 
          <div class="reviews-slide"><a class="reviews-slide__top-button btn" href="#">alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span></a>
            <div class="reviews-slide__text-wrapper">
              <p class="reviews-slide__text"><span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-slider__column"> 
          <div class="reviews-slide"><a class="reviews-slide__top-button btn" href="#">alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span></a>
            <div class="reviews-slide__text-wrapper">
              <p class="reviews-slide__text"><span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-controls"> <span class="reviews-controls__prev reviews-control"> <span class="reviews-controls__control-icon icon">&#x44;</span></span><span class="reviews-controls__next reviews-control"> <span class="reviews-controls__control-icon icon">&#x45;</span></span>
      </div>
    </div>
  </div>
</section>