
<section class="social"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="social-links"> <a class="logo-wrapper" href="#"><img class="logo-wrapper__logo img" src="../public/img/logo.png"/></a>
      <div class="links"> 
        <ul class="links__list"> 
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe093;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe094;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe095;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe09e;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe09c;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe0a3;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe09d;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe09b;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe09f;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe0a4;</a>
          </li>
          <li class="links__item btn"> <a class="links__link icon" href="#">&#xe098;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>