
<section class="team-members">
  <div class="team g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl"><span class="prev controls"> <span class="control-icon icon">&#x44;</span></span><span class="next controls"> <span class="control-icon icon">&#x45;</span></span>
    <div class="category-wrapper">
      <div class="site-category site-category--alter">
        <div class="site-category__top">
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
          </div>
          <p class="site-category__name">team <span class="first-word">members</span>
          </p>
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
          </div>
        </div>
        <div class="site-category__bottom"> 
          <p class="site-category__text text text--category">Let’s take a look at some of the best of our works here, we love them and hope you too
          </p>
        </div>
      </div>
    </div>
    <div class="team-members-slider"> 
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-members-slide">
        <div class="team-members-slide__top"> <span class="team-members-slide__front"></span><span class="team-members-slide__back"><span class="team-members-slide__back-content"><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe093;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe094;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe096;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe09c;</span></a><a class="team-members-slide__back-icon-wrapper" href="#"><span class="team-members-slide__back-icon icon">&#xe0b2;</span></a></span></span>
        </div>
        <div class="team-members-slide__middle"><a class="team-members-slide__persone btn" href="#">alexis simpson</a>
        </div>
        <div class="team-members-slide__bottom"> 
          <p class="team-members-slide__category">CEO &amp; Developer
          </p>
          <div class="team-members-slide__contact-wrapper">
            <div class="team-members-slide__email-contact"><span class="team-members-slide__email-icon icon">&#xe076;</span><a class="team-members-slide__email-address" href="mailto:#">simpson@unique.com</a>
            </div>
            <div class="team-members-slide__phone-contant"> <span class="team-members-slide__phone-icon icon">&#xe090;</span><a class="team-members-slide__phone-number" href="tel:+74951234567">+1 911 (77) 222-1111</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>