
<section class="unique"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="unique-wrapper"> 
      <p class="unique-wrapper__title">Unique! We Do <span class="unique-wrapper__icon icon">&#xe089;</span> It And Hope You Too
      </p><a class="unique-wrapper__button btn" href="#"><span class="unique-wrapper__text">purchase it now</span><span class="unique-wrapper__button-icon icon">&#xe07a;</span></a>
    </div>
  </div>
</section>