
<section class="facts img-section">
  <div class="top-icon"><span class="top-icon__icon">&#xe06e;</span>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="category-wrapper">
      <div class="site-category site-category--dark">
        <div class="site-category__top">
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
          </div>
          <p class="site-category__name">company <span class="first-word">facts</span>
          </p>
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
          </div>
        </div>
        <div class="site-category__bottom"> 
          <p class="site-category__text text text--category">We do love to work and increase our counter numbers, this is what we’ve done till now
          </p>
        </div>
      </div>
    </div>
    <div class="facts-wrapper"> 
      <div class="facts-wrapper__column">
        <div class="fact"> 
          <div class="fact__top"> <span class="fact__rhombus"> </span>
            <div class="fact__statistic-counter">218
            </div><span class="fact__rhombus"></span>
          </div>
          <div class="fact__middle"> <span class="fact__line"> </span><span class="fact__icon">&#x5a;</span><span class="fact__line"> </span>
          </div>
          <div class="fact__bottom"> 
            <div class="fact__title title">completed projects
            </div>
          </div>
        </div>
      </div>
      <div class="facts-wrapper__column">
        <div class="fact"> 
          <div class="fact__top"> <span class="fact__rhombus"> </span>
            <div class="fact__statistic-counter">360
            </div><span class="fact__rhombus"></span>
          </div>
          <div class="fact__middle"> <span class="fact__line"> </span><span class="fact__icon">&#xe0e1;</span><span class="fact__line"> </span>
          </div>
          <div class="fact__bottom"> 
            <div class="fact__title title">hours of work / month
            </div>
          </div>
        </div>
      </div>
      <div class="facts-wrapper__column">
        <div class="fact"> 
          <div class="fact__top"> <span class="fact__rhombus"> </span>
            <div class="fact__statistic-counter">135
            </div><span class="fact__rhombus"></span>
          </div>
          <div class="fact__middle"> <span class="fact__line"> </span><span class="fact__icon">&#xe07c;</span><span class="fact__line"> </span>
          </div>
          <div class="fact__bottom"> 
            <div class="fact__title title">solved tickets
            </div>
          </div>
        </div>
      </div>
      <div class="facts-wrapper__column">
        <div class="fact"> 
          <div class="fact__top"> <span class="fact__rhombus"> </span>
            <div class="fact__statistic-counter">174
            </div><span class="fact__rhombus"></span>
          </div>
          <div class="fact__middle"> <span class="fact__line"> </span><span class="fact__icon">&#xe0dd;</span><span class="fact__line"> </span>
          </div>
          <div class="fact__bottom"> 
            <div class="fact__title title">satisfied clients
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>