
<section class="features img-section">
  <div class="top-icon"><span class="top-icon__icon">&#xe06e;</span>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="category-wrapper">
      <div class="site-category site-category--dark">
        <div class="site-category__top">
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
          </div>
          <p class="site-category__name">amazing  <span class="first-word"> features</span>
          </p>
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
          </div>
        </div>
        <div class="site-category__bottom"> 
          <p class="site-category__text text text--category">With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="features-cards"> 
        <div class="features-card"> 
          <div class="features-card__icon-wrapper"> <span class="features-card__icon">&#xe00e;</span>
          </div>
          <div class="features-card__text-part">
            <h2 class="features-card__title title title--light">responsive &amp; multipurpose
            </h2>
            <p class="features-card__text text">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
            </p>
          </div>
        </div>
        <div class="features-card"> 
          <div class="features-card__icon-wrapper"> <span class="features-card__icon">&#xe0f9;</span>
          </div>
          <div class="features-card__text-part">
            <h2 class="features-card__title title title--light">easy customization
            </h2>
            <p class="features-card__text text">Proin in magna a ipsum vivverra scelerisq enec turp, nunc vestibulum.
            </p>
          </div>
        </div>
        <div class="features-card"> 
          <div class="features-card__icon-wrapper"> <span class="features-card__icon">&#xe033;</span>
          </div>
          <div class="features-card__text-part">
            <h2 class="features-card__title title title--light">unlimited features
            </h2>
            <p class="features-card__text text">Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
            </p>
          </div>
        </div>
      </div>
      <div class="features-images"> 
        <div class="features-images__image-wrapper"><img class="features-images__image img" src="../../static/img/tablets.png"/>
        </div>
      </div>
    </div>
  </div>
</section>