
<header class="header"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <nav class="nav"><a class="logo-wrapper" href="#"><img class="logo-wrapper__logo img" src="../public/img/logo.png"/></a>
      <div class="menu js-menu"> 
        <div class="menu__body">
          <ul class="menu__list"> 
            <li class="menu__item"> <a class="menu__link" href="#">home</a>
            </li>
            <li class="menu__item menu__item--activeLI"> <a class="menu__link menu__link--active" href="#">portfolio</a>
            </li>
            <li class="menu__item"> <a class="menu__link" href="#">blog</a>
            </li>
            <li class="menu__item"> <a class="menu__link" href="#">pages</a>
            </li>
            <li class="menu__item"> <a class="menu__link" href="#">features</a>
            </li>
            <li class="menu__item"> <a class="menu__link" href="#">mega menu</a>
            </li>
            <li class="menu__item"> <a class="menu__link" href="#">contact</a>
            </li><li><span class="menu__search-button search-btn" id="search-button">&#x55;</span></li>
          </ul>
        </div>
        <div class="menu__icon"> <span class="menu__icon-line menu__icon-line--top"></span><span class="menu__icon-line menu__icon-line--middle"></span><span class="menu__icon-line menu__icon-line--bottom"></span>
        </div>
      </div>
      <form class="search-form" id="search-input"> <input class="search-form__input" type="search" paceholder="search"/>
        <label class="search-form__button icon" for-("search")>&#x55;
        </label>
      </form>
    </nav>
  </div>
</header>