
<section class="offer-section">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="offer"> 
      <div class="category-wrapper">
        <div class="site-category site-category--alter">
          <div class="site-category__top">
            <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
            </div>
            <p class="site-category__name">what we <span class="first-word">offer</span>
            </p>
            <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
            </div>
          </div>
          <div class="site-category__bottom"> 
            <p class="site-category__text text text--category">We offer our customers the best services &amp; solutions, this is our main services list
            </p>
          </div>
        </div>
      </div>
      <div class="offer__cards"> 
        <div class="offer__column"> 
          <div class="card">
            <div class="card__image-wrapper"> <span class="card__image">&#xe00e; </span>
            </div>
            <div class="card__info">
              <h3 class="card__title title">responsive 	&amp; multipurpose
              </h3>
              <p class="card__text text">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
              </p>
            </div><a class="card__button btn" href="#">read more</a>
          </div>
        </div>
        <div class="offer__column"> 
          <div class="card">
            <div class="card__image-wrapper"> <span class="card__image card__image--special">&#xe0f9; </span>
            </div>
            <div class="card__info">
              <h3 class="card__title title">easy customization
              </h3>
              <p class="card__text text">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
              </p>
            </div><a class="card__button btn" href="#">read more</a>
          </div>
        </div>
        <div class="offer__column"> 
          <div class="card">
            <div class="card__image-wrapper"> <span class="card__image">&#xe028;</span>
            </div>
            <div class="card__info">
              <h3 class="card__title title">awesome friendly support
              </h3>
              <p class="card__text text">Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
              </p>
            </div><a class="card__button btn" href="#">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>