
<section class="features img-section">
  <div class="top-icon"><span class="top-icon__icon">&#xe06e;</span>
  </div>
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="category-wrapper">
      <div class="site-category site-category--dark">
        <div class="site-category__top">
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
          </div>
          <p class="site-category__name">our powerful <span class="first-word"> skills </span>
          </p>
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
          </div>
        </div>
        <div class="site-category__bottom"> 
          <p class="site-category__text text text--category">With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !
          </p>
        </div>
      </div>
    </div>
    <div class="progress"> 
      <div class="progress__column">
        <div class="progress-bar"> 
          <svg class="circle" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle__circle-background" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle__circle-chart" stroke="#00a99d" stroke-width="1" stroke-dasharray="75" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg><span class="progress-bar__text">75%</span>
          <h2 class="progress-bar__title title title--grey">web design
          </h2>
        </div>
      </div>
      <div class="progress__column">
        <div class="progress-bar"> 
          <svg class="circle" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle__circle-background" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle__circle-chart" stroke="#00a99d" stroke-width="1" stroke-dasharray="92" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg><span class="progress-bar__text">92%</span>
          <h2 class="progress-bar__title title title--grey">web development
          </h2>
        </div>
      </div>
      <div class="progress__column">
        <div class="progress-bar"> 
          <svg class="circle" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle__circle-background" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle__circle-chart" stroke="#00a99d" stroke-width="1" stroke-dasharray="68" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg><span class="progress-bar__text">68%</span>
          <h2 class="progress-bar__title title title--grey">speed optimization
          </h2>
        </div>
      </div>
      <div class="progress__column">
        <div class="progress-bar"> 
          <svg class="circle" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle__circle-background" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle__circle-chart" stroke="#00a99d" stroke-width="1" stroke-dasharray="100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg><span class="progress-bar__text">100%</span>
          <h2 class="progress-bar__title title title--grey">customer support
          </h2>
        </div>
      </div>
      <div class="progress__column">
        <div class="progress-bar"> 
          <svg class="circle" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle__circle-background" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle__circle-chart" stroke="#00a99d" stroke-width="1" stroke-dasharray="83" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg><span class="progress-bar__text">83%</span>
          <h2 class="progress-bar__title title title--grey">marketing
          </h2>
        </div>
      </div>
      <div class="progress__column">
        <div class="progress-bar"> 
          <svg class="circle" viewbox="0 0 33.83098862 33.83098862" width="120" height="120" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle__circle-background" stroke="#efefef" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
            <circle class="circle__circle-chart" stroke="#00a99d" stroke-width="1" stroke-dasharray="50" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431">
            </circle>
          </svg><span class="progress-bar__text">50%</span>
          <h2 class="progress-bar__title title title--grey">advertisement
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>