
<section class="works">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="category-wrapper">
      <div class="site-category site-category--alter">
        <div class="site-category__top">
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/left-part.png"/>
          </div>
          <p class="site-category__name">sample <span class="first-word">works</span>
          </p>
          <div class="site-category__img-wrapper"><img class="site-category__image img" src="../public/icons/right-part.png"/>
          </div>
        </div>
        <div class="site-category__bottom"> 
          <p class="site-category__text text text--category">Let’s take a look at some of the best of our works here, we love them and hope you too
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="work-wrapper">
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-wrapper__column">
      <div class="card d-cell">
        <div class="card__front"> <span class="card__front-content"> </span>
        </div>
        <div class="card__back"> 
          <div class="card__back-content">
            <div class="card__top"> 
              <div class="card__icon-wrapper card__icon-wrapper--left"><span class="card__icon card__icon--left">&#xe016;</span>
              </div>
              <div class="card__icon-wrapper card__icon-wrapper--right"><span class="card__icon card__icon--right">&#x55;</span>
              </div>
            </div>
            <div class="card__bottom"> 
              <h2 class="card__title">Corporate Brochure
              </h2>
              <p class="card__text">Illustration / Print
              </p>
              <div class="like"> 
                <div class="like__icon">&#xe089;
                </div>
                <div class="like__count">138
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><a class="works__button btn" href="#">view all works</a>
</section>