include ./../../mixins/index

    section.intro
        +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
            +b.intro-card 
                +e.question.h3 what are you waiting for ?
                +e.title.H1 let’s be creative !
                +e.block 
                    +e.company-text.P 
                        span.text
                            span.first-letter S
                            |tartuprr, 
                        |   next generation &amp; highly flexible wordpress theme
                .category-wrapper
                    +b.site-category.--intro
                        +e.top
                            +e.img-wrapper
                                +e.image.img.IMG(src=('../public/icons/left-part.png'))
                            +e.name.P 
                                span.first-word start
                                |   doing that
                            +e.img-wrapper
                                +e.image.img.IMG(src=('../public/icons/right-part.png'))
                        
                            
                +b.scroll-btn.A(href=("#")) &#x3b;
                    
                    
