include ./../../mixins/index

+b.offer-section.SECTION
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.offer 
            +b.category-wrapper
                +b.site-category.--alter
                    +e.top
                        +e.img-wrapper
                            +e.image.img.IMG(src=('../public/icons/left-part.png'))
                        +e.name.P what we 
                            span.first-word offer
                        +e.img-wrapper
                            +e.image.img.IMG(src=('../public/icons/right-part.png'))
                    +e.bottom 
                        +e.text.text.--category.P We offer our customers the best services &amp; solutions, this is our main services list
                        
                
            +e.cards 
                +e.column 
                    +b.card
                        +e.image-wrapper 
                            +e.image.SPAN &#xe00e; 
                        +e.info
                            +e.title.title.H3 responsive 	&amp; multipurpose
                            +e.text.text.P Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                        +e.button.btn.A(href=("#")) read more
                +e.column 
                    +b.card
                        +e.image-wrapper 
                            +e.image.--special.SPAN &#xe0f9; 
                        +e.info
                            +e.title.title.H3 easy customization
                            +e.text.text.P Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                        +e.button.btn.A(href=("#")) read more
                +e.column 
                    +b.card
                        +e.image-wrapper 
                            +e.image.SPAN &#xe028;
                        +e.info
                            +e.title.title.H3 awesome friendly support
                            +e.text.text.P Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                        +e.button.btn.A(href=("#")) read more
            