include ./../../mixins/index

+b.question.SECTION 
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.question-wrapper 
            +e.title.title.H2 are you satisfied with unlimited features that we offer?
            +e.buttons 
                +e.button.btn.A(href=("#")) purchase it now
                +e.button.btn.A(href=("#")) contact us now