include ./../../mixins/index

+b.reviews.SECTION 
    +b.top-icon.--dark
        +e.icon.SPAN &#x7b;
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.reviews-wrapper 
            +b.reviews-slider 
                +e.column 
                    +b.reviews-slide
                        +e.top-button.btn.A(href=("#")) alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span>
                        +e.text-wrapper
                            +e.text.P <span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
                +e.column 
                    +b.reviews-slide
                        +e.top-button.btn.A(href=("#")) alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span>
                        +e.text-wrapper
                            +e.text.P <span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
                +e.column 
                    +b.reviews-slide
                        +e.top-button.btn.A(href=("#")) alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span>
                        +e.text-wrapper
                            +e.text.P <span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
                +e.column 
                    +b.reviews-slide
                        +e.top-button.btn.A(href=("#")) alexiss simpson <span class="reviews-slide__span">- CEO & Developer</span>
                        +e.text-wrapper
                            +e.text.P <span class="reviews-slide__quotes">”</span>  Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis. <span class="reviews-slide__quotes">”</span>
            +b.reviews-controls 
                +e.prev.reviews-control.SPAN 
                    +e.control-icon.icon.SPAN &#x44;
                +e.next.reviews-control.SPAN 
                    +e.control-icon.icon.SPAN &#x45;
