include ./../../mixins/index

+b.social.SECTION 
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.social-links 
            +b.logo-wrapper.A(href=('#'))
                +e.logo.img.IMG(src=('../public/img/logo.png'))
            +b.links 
                +e.list.UL 
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe093;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe094;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe095;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe09e;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe09c;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe0a3;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe09d;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe09b;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe09f;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe0a4;
                    +e.item.btn.LI 
                        +e.link.icon.A(href=("#")) &#xe098;
