include ./../../mixins/index

+b.sponsors.SECTION 
    +b.sponsors-slider-wrapper.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.sponsors-slider 
            +b.sponsors-slide 
                +e.image-wrapper
                    +e.sponsors-image.IMG(src='../../static/img/sponsor1.png')
            +b.sponsors-slide 
                +e.image-wrapper
                    +e.sponsors-image.IMG(src='../../static/img/sponsor2.png')
            +b.sponsors-slide 
                +e.image-wrapper
                    +e.sponsors-image.IMG(src='../../static/img/sponsor3.png')
            +b.sponsors-slide 
                +e.image-wrapper
                    +e.sponsors-image.IMG(src='../../static/img/sponsor4.png')
            +b.sponsors-slide 
                +e.image-wrapper
                    +e.sponsors-image.IMG(src='../../static/img/sponsor1.png')
        +b.sponsors-control.sponsors-prev.SPAN 
            +e.control-icon.icon.SPAN &#x44;
        +b.sponsors-control.sponsors-next.SPAN 
            +e.control-icon.icon.SPAN &#x45;