include ./../../mixins/index

    +b.team-members.SECTION
        
        +b.team.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
            +b.prev.controls.SPAN 
                +b.control-icon.icon.SPAN &#x44;
            +b.next.controls.SPAN 
                +b.control-icon.icon.SPAN &#x45;
            +b.category-wrapper
                +b.site-category.--alter
                    +e.top
                        +e.img-wrapper
                            +e.image.img.IMG(src=('../public/icons/left-part.png'))
                        +e.name.P team 
                            span.first-word members
                        +e.img-wrapper
                            +e.image.img.IMG(src=('../public/icons/right-part.png'))
                    +e.bottom 
                        +e.text.text.--category.P Let’s take a look at some of the best of our works here, we love them and hope you too
            
            +b.team-members-slider 
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
                +b.team-members-slide
                    +e.top 
                        +e.front.SPAN
                        +e.back.SPAN
                            +e.back-content.SPAN
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe093;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe094;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe096;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe09c;
                                +e.back-icon-wrapper.A(href=("#"))
                                    +e.back-icon.icon.SPAN &#xe0b2;

                    +e.middle
                        +e.persone.btn.A(href=("#")) alexis simpson
                    +e.bottom 
                        +e.category.P CEO &amp; Developer
                        +e.contact-wrapper
                            +e.email-contact
                                +e.email-icon.icon.SPAN &#xe076;
                                +e.email-address.A(href=("mailto:#")) simpson@unique.com
                            +e.phone-contant 
                                +e.phone-icon.icon.SPAN &#xe090;
                                +e.phone-number.A(href=("tel:+74951234567")) +1 911 (77) 222-1111
            
            
            