include ./../../mixins/index

+b.unique.SECTION 
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
        +b.unique-wrapper 
            +e.title.P Unique! We Do <span class="unique-wrapper__icon icon">&#xe089;</span> It And Hope You Too
            +e.button.btn.A(href=("#"))
                +e.text.SPAN purchase it now
                +e.button-icon.icon &#xe07a;

